@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Red+Hat+Display:wght@400;500;700&display=swap');

body {
   margin: 0;
   background-color: #f4f4f4;
   font-family: 'Red Hat Display', sans-serif;
   color: #001732;
   width: 100%;
   text-align: center;
}

h2 {
   margin: 80px auto -15px;
   font-weight: 700;
   font-size: 44px;
}

p {
   font-weight: 400;
   color: #212935;
   font-size: 18px;
}

.upper-container {
   background-color: #fff;
   margin: 60px;
   border-radius: 10px;
   padding: 30px;
   box-shadow: 0px 0px 25px -10px #333;
}

.upper-container p {
   font-size: 14px;
   line-height: 21px;
   text-align: left;
}

.container {
   margin: 20px 0 35px;
   display: flex;
   text-align: left;
}

.values {
   padding-right: 30px;
   border-right: 2px dashed #001732;
   width: 50%;
}

.amount {
   padding-left: 30px;
   width: 50%;
}

form.form-one {
   display: flex;
}

form.form-one .range {
   width: 50%;
   margin-right: 20px;
}

form.form-one .range label {
   font-size: 20px;
   font-weight: 500;
}

form.form-one .range input[type=range] {
   appearance: none;
   background: #dee2e6;
   height: 8px;
   border-radius: 4px;
   cursor: pointer;
   width: 100%;
   margin: 20px 0 40px;
}

form.form-one .range input[type=range]::-webkit-slider-thumb {
   appearance: none;
   background-color: #001732;
   height: 16px;
   width: 16px;
   border-radius: 8px;
}

form.form-one .text {
   width: 50%;
}

form.form-one .text input[type=text],
form.form-one .text input[type=number] {
   box-sizing: border-box;
   width: 100%;
   height: 40px;
   text-align: right;
   padding: 4px 8px;
   border-radius: 4px;
   border: 1px solid rgba(0, 23, 50, 0.3);
   font-size: 20px;
}

#loon {
   display: block;
}

#loon form {
   margin-right: 0;
}

#loon input[type=number] {
   width: 100%;
   height: 40px;
   text-align: right;
   padding: 4px 10px;
   border: 1px solid rgba(0, 23, 50, 0.3);
   margin-top: 10px;
   font-size: 20px;
   border-radius: 4px;
   box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   display: none;
}

#loon form label {
   display: block;
   box-sizing: border-box;
   width: 100%;
   font-size: 20px;
   font-weight: 500;
   margin: 10px 0 20px;
}

#tooltip {
   margin-left: 4px;
   font-size: 12px;
}

#tooltip::after {
   content: "A balloon payment is the lump sum paid at the end of the loan's term";
   font-size: 10px;
   background-color: #001732;
   padding: 2px 4px;
   border-radius: 2px;
   color: white;
   margin-left: 10px;
   display: none;
}

#tooltip:hover::after {
   display: inline;
}

#p-date label {
   font-size: 20px;
   font-weight: 500;
   margin: 10px 0;
   display: block;
}

.first-payment {
   display: flex;
   gap: 20px;
}

#first-payment-month,
#first-payment-year {
   width: 50%;
}

.first-payment select {
   width: 100%;
   height: 40px;
   padding: 4px 10px;
   border: 1px solid rgba(0, 23, 50, 0.3);
   margin-top: 10px;
   font-size: 20px;
   border-radius: 4px;
   box-sizing: border-box;
}

.buttons {
   margin: 40px 0 20px;
   display: flex;
}

#btn1,
#btn2 {
   width: 50%;
   margin-right: 10px;
   background-color: #001732;
   color: white;
   border-radius: 4px;
   padding: 15px 20px;
   box-shadow: 0px 0px 10px -2px rgba(0, 23, 50, 0.3);
   border: none;
   font-weight: 700;
   font-size: 14px;
   transition: 0.15s linear;
}

#btn2 {
   background-color: white;
   color: #001732;
   margin-left: 10px;
   margin-right: 0;
   box-shadow: none;
   border: 1px solid rgba(0, 23, 50, 0.3);
}

#btn1:hover {
   background-color: white;
   color: #001732;
   border: 1px solid rgba(0, 23, 50, 0.3);
}

#btn2:hover {
   background-color: #001732;
   color: white;
}

.amounts {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.installments {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 40px;
   text-align: center;
   gap: 0;
   margin-bottom: 20px;
}

.installments h3 {
   font-size: 24px;
   font-weight: 500;
}


.installments h4 {
   font-size: 25px;
   font-weight: 700;
   margin-top: 0px;
}

.installment-buttons {
   display: flex;
   /* background-color: rgba(0, 23, 50, 0.3);
   gap: 1px; */
}

.installment-buttons button {
   height: 40px;
   font-size: 16px;
   font-weight: 400;
   color: #001732;
   background-color: #f2f2f2;
   border: none;
   margin: 0;
   padding: 10px 15px;
}

#weekly {
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border-right: 1px solid rgba(0, 23, 50, 0.3);
}

#monthly {
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
   border-left: 1px solid rgba(0, 23, 50, 0.3);
}

.active {
   background-color: #001732 !important;
   color: white !important;
}

.amounts {
   width: 320px;
   margin: auto;
   padding: 6px 0;
}

.total {
   border-top: 1px solid rgba(0, 23, 50, 0.3);
   border-bottom: 1px solid rgba(0, 23, 50, 0.3);
   padding: 8px 0;
   margin-top: 5px;
   margin-bottom: 5px;
   font-weight: 700;
}

.name {
   display: flex;
   text-align: center;
}

#amt,
#int {
   width: 20px;
   height: 22px;
   background: linear-gradient(90deg, #001732de, #00173277);
   margin-right: 10px;
   display: inline-block;
   margin-bottom: 0;
   border-radius: 4px;
}

#int {
   background: #9ca1ac;
}

.draw {
   display: flex;
   margin-top: 40px;
}

.draw-buttons {
   width: 30%;
}

.draw-buttons button {
   font-size: 16px;
   color: #001732;
   padding: 10px 12px;
   background-color: #f4f4f4;
   border: none;
   width: 120px;
   display: block;
}

.drawing {
   width: 70%;
}

.drawing canvas {
   width: 260px !important;
   height: 260px !important;
}